flask
flask-cors
nltk
openpyxl
psycopg2-binary
pandas
python-dotenv
Requests
elasticsearch==8.17.2
scikit-learn
numpy
openai
rapidfuzz
xlsxwriter
matplotlib
chardet
seaborn
mplcursors
transformers==4.48.2
torch==2.6.0
dill
azure-ai-inference
azure-ai-resources